section#login {
  & {
    background: url("/assets/images/landing-background.jpg") no-repeat center;
    background-size: cover;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  .login--content {
    & {
      background-color: #1d2333;
      border-radius: 10px;

      margin-right: 5rem;
      padding: 3rem 2rem;

      max-width: 380px;
    }

    .content--title {
      margin-bottom: 3rem;
    }

    .content--error {
      & {
        background-color: $danger;
        border-radius: 10px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding: 1rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: $font-size-sm;
        margin-bottom: 0;
      }
    }

    .content--form {
      .form-group {
        & {
          margin-bottom: 2rem;
        }

        .form-control {
          border-radius: 10px;

          padding-left: 1rem;
          padding-right: 1rem;

          width: 100%;
          height: 54px;
        }

        .btn {
          border-radius: 10px;
          font-size: $font-size-base;
          font-weight: 500;
          height: 54px;
        }

        a, a:link, a:visited {
          color: inherit;
          font-weight: 500;
        }
      }
    }
  }

  @include media-breakpoint-down("md") {
    & {
      justify-content: center;
    }

    .login--content {
      & {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 100%;
      }
    }
  }
}
