section.compact--search {
  & {
    background-color: #5538b5;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

    padding-left: 1rem;
    padding-right: 1rem;

    height: $header-height;
  }

  .search--input {
    & {
      flex: 1;
      margin-right: 1rem;
    }

    input {
      color: $white;
      background-color: transparent;
      border: none;

      padding-left: 0;
      padding-right: 0;

      width: 100%;
    }

    input::placeholder {
      color: #9b7dff;
    }
  }

  .search--button {
    & {
      color: #9b7dff;
      font-size: 24px;
    }
  }

  .search--backdrop {
    & {
      background-color: #000;
      content: " ";
      display: none;

      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: $header-height;

      opacity: 0;
      transition: all .25s ease-in-out;
      z-index: $zindex-fixed - 2;
    }

    &.expanded {
      display: block;
      opacity: 0.75;
    }
  }

  .search--content {
    & {
      background-color: #1d2333;
      display: none;

      position: fixed;
      left: 0;
      right: 0;
      top: $header-height;

      transition: all .25s ease-in-out;
      z-index: $zindex-fixed;
    }

    &.expanded {
      display: block;
    }
  }

  @include media-breakpoint-up("md") {
    display: none;
  }
}
