$large--search--wrapper--width: 400px;
$large--search--wrapper--height: 50px;

section.large--search {
  & {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    height: $header-height;
  }

  .search--wrapper {
    & {
      background: #5538b5;
      border-radius: $border-radius-lg;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-left: 1rem;
      padding-right: 1rem;
      position: relative;

      width: $large--search--wrapper--width;
      height: $large--search--wrapper--height;
    }

    .wrapper--input {
      & {
        flex: 1;
        margin-right: 1rem;
      }

      input {
        color: $white;
        background-color: transparent;
        border: none;

        padding-left: 0;
        padding-right: 0;

        width: 100%;
      }

      input::placeholder {
        color: #9b7dff;
      }
    }

    .wrapper--icon {
      cursor: pointer;
      color: $header--search--color;
    }

    .wrapper--content {
      & {
        display: none;
        background-color: #1d2333;
        border-radius: $border-radius-lg;

        position: absolute;
        left: 0;
        right: 0;
        top: $large--search--wrapper--height + 5;

        padding-left: 1rem;
        padding-right: 1rem;
        max-height: 400px;

        overflow-y: auto;
        z-index: $zindex-fixed;
      }

      &.expanded {
        display: block;
      }
    }
  }

  @include media-breakpoint-down("sm") {
    display: none;
  }
}
