section.search--section {
  .section--heading {
    & {
      color: $text-muted;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    h6 {
      font-size: $small-font-size;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }

  .section--item {
    & {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      margin-bottom: 1rem;
    }

    .item--thumbnail {
      & {
        margin-right: 1rem;
      }

      img {
        border-radius: $border-radius;
      }
    }

    .item--info {
      .info--title {
        h6 {
          & {
            color: $white;
            font-size: 14px;
          }

          a, a:link, a:visited {
            color: inherit;
          }
        }
      }

      .info--subtitle {
        color: $text-muted;
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }
}
