section#me--threads {
  .card--threads {
    & {
      margin-bottom: 1rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .card-body {
      & {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .threads--info {
        .info--title {
          & {
            margin-bottom: 0;
          }

          a, a:link, a:visited {
            color: inherit;
          }
        }

        .info--subtitle {
          color: $text-muted;
          font-size: $small-font-size;
          margin-bottom: 0;
        }
      }
    }
  }
}
