$header-bg: #7750f8;
$header-height: 80px;

$header--search--color: #9b7dff;

body {
  padding-top: $header-height;
}

section.header {
  & {
    background-color: $header-bg;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: $header-height;

    z-index: $zindex-fixed;
  }

  .header--brand {
    & {
      display: flex;
      justify-content: center;
      align-items: center;

      width: $header-height;
      height: $header-height;
    }
  }

  @import "components/MobileNavigation";

  @import "components/Profile/Profile";

  @import "components/Search/CompactSearch";
  @import "components/Search/LargeSearch";
  @import "components/Search/SearchSection";
}
