section.mobile--navigation {
  .navigation--trigger {
    & {
      font-size: 24px;

      display: flex;
      justify-content: center;
      align-items: center;

      width: $header-height;
      height: $header-height;
    }
  }

  .navigation--backdrop {
    & {
      background-color: #000;
      content: " ";
      display: none;

      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;

      opacity: 0;
      transition: all .25s ease-in-out;
      z-index: $zindex-fixed - 2;
    }

    &.expanded {
      display: block;
      opacity: 0.75;
    }
  }

  .navigation--content {
    & {
      background-color: #1d2333;

      position: fixed;
      bottom: 0;
      left: 0;
      top: 0;

      padding-bottom: 1rem;
      padding-top: 1rem;

      width: 80%;

      transform: translateX(-100%);
      transition: all .25s ease-in-out;
      z-index: $zindex-fixed;
    }

    &.expanded {
      transform: none;
    }

    .content--action {
      & {
        color: $text-muted;
        font-size: 24px;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        margin-bottom: 2rem;
      }

      .action--close {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
      }
    }

    .content--heading {
      & {
        color: $text-muted;

        margin-bottom: 1rem;
      }

      h6 {
        font-size: $small-font-size;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }
    }

    .content--link {
      & {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-bottom: 1rem;

        height: 40px;
      }

      .link--icon {
        color: $text-muted;
        font-size: 24px;

        margin-right: 1rem;
      }

      .link--title {
        & {
          font-weight: $font-weight-bold;
        }

        a, a:link, a:visited {
          color: inherit;
        }
      }
    }
  }

  @include media-breakpoint-up("md") {
    display: none;
  }
}
