section.header--profile {
  & {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 1rem;
  }

  .profile--actions {
    & {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .actions--item {
      & {
        cursor: pointer;
        color: $header--search--color;
        border-radius: $border-radius-lg;
        font-size: 24px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: .5rem;

        width: 50px;
        height: 50px;
        transition: all 0.25s ease-in-out;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &.active, &:hover, &:active {
        color: $white;
        background-color: #5538b5;
      }
    }
  }

  .profile--login {
    & {
      margin-left: 2rem;
    }

    .btn-primary {
      & {
        color: $header--search--color;
        background-color: #5538b5;
        border: none;
        border-radius: $border-radius-lg;
        font-weight: 500;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        height: 50px;
      }

      &:hover, &:focus {
        color: $white;
        box-shadow: none;
        outline: none;
      }
    }
  }

  @include media-breakpoint-down("sm") {
    display: none;
  }
}
