section.component--banner {
  .banner--wrapper {
    & {
      background-image: url("/assets/images/banner-background.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      border-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      padding-left: 4rem;
      padding-right: 1rem;

      min-height: 160px;
    }

    h3 {
      font-weight: 700;
    }

    h6 {
      font-size: $font-size-sm;
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-down("md") {
    .banner--wrapper {
      align-items: center;

      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
