.btn-action {
  & {
    border-radius: $border-radius;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;

    padding: 0 2rem;

    min-width: 120px;
    min-height: 48px;
  }

  svg {
    margin-right: .75rem;
    font-size: 14px;
  }
}
