section#error--401 {
  & {
    background: url("/assets/images/error-background.png") no-repeat 0 0, url("/assets/images/dot-texture.png") repeat, $body-bg;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 5rem;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  .error--content {
    & {
      background-color: transparent;
      width: 420px;
    }

    .content--title {
      font-size: 5rem;
      font-weight: 700;

      margin-bottom: 1rem;
    }

    .content--description {
      font-size: $font-size-lg;
      margin-bottom: 4rem;
    }

    .content--action {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-down("md") {
    & {
      justify-content: center;
      align-items: center;

      padding: 1rem;
    }

    .error--content {
      & {
        background-color: inherit;
        width: auto;
      }

      .card-body {
        text-align: center;
      }

      .content--description {
        margin-bottom: 2rem;
      }

      .content--action {
        .btn {
          width: 100%;
        }
      }
    }
  }
}
